.card {
    p {
        width: 100%;
        margin-bottom: 1rem;
    }

    svg {
        margin-right: 1rem;
        height: 80px;
        width: 80px;
    }

    .title {
        font-weight: bold;
    }

    .id {
        color: green;
        font-size: 0.75rem;
    }

    .desc {
        font-size: 0.75rem;
    }

    .button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}