@import "@/styles/styles.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 2rem;
    }
}

.video_grid {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint-min($md) {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }

    video {
        width: 100%;
    }
}
