@import "@/styles/styles.scss";

$width: 100vw;
$height: 100vh;

$max-width: 600px;
$max-height: max-content;

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    &_content {
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: max-content;
        max-width: $max-width;
        max-height: $max-height;
        padding: 1rem;
        background:$bg-color;
        box-sizing: border-box;

        @include breakpoint-min(calc($max-width + 1px)) {
            border-radius: 0.5rem;
        }
    }
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}