.card {
    display: grid;
    grid-template-columns: 100px 1fr;
    max-width: 900px;

    p {
        width: 100%;
        margin-bottom: 1rem;
    }

    svg {
        margin: auto 1rem auto 0;
        height: 80px;
        width: 80px;
    }

    .title {
        font-weight: bold;
    }

    .id {
        color: green;
        font-size: 0.75rem;
        margin-top: -1rem;
    }

    .desc {
        font-size: 0.75rem;
    }

    .button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}