.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
}

.slider {
    width: 100%;
    margin-bottom: 2rem;
}

.loading {
    p {
        margin-bottom: 2rem;
    }
}

.submit {
    background-color: cyan;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.timestamp {
    margin-bottom: 2rem;

    span {
        background: white;
        margin: 0 .5rem;
        color: black;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
    }
}
